[submodule "unizone/src/muscle"]
	path = unizone/src/muscle
	url = https://github.com/mtl1979/muscle.git
	branch = unizone
	update = rebase

[submodule "unizone/regex"]
	path = unizone/regex
	url = https://github.com/mtl1979/regex.git
	branch = unizone
	update = rebase

[submodule "unizone/zlib"]
	path = unizone/zlib
	url = https://github.com/mtl1979/zlib.git
	branch = unizone
	update = rebase

[submodule "isplitter"]
	path = isplitter
	url = https://github.com/mtl1979/isplitter.git
	branch = develop
	update = rebase
