*.bak
*.dll
*.exe
*.opensdf
*.pdb
*.qm
*.sdf
*.sln
*.VC.opendb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*_pch.h.cpp
.vs
Makefile
Makefile.debug
Makefile.release
ipch
isplitter/src/debug
isplitter/src/release
tools/*/debug
tools/*/release
ui_*.h
src/debug
src/release
/plugins
/Setup1
