*.bak
*.dll
*.exe
*.opensdf
*.pdb
*.qm
*.sdf
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*_pch.h.cpp
.vs
Makefile
Makefile.debug
Makefile.release
ipch
isplitter/src/debug
isplitter/src/release
tools/*/debug
tools/*/release
ui_*.h
unizone/src/debug
unizone/src/release
/plugins
