[submodule "src/muscle"]
	path = src/muscle
	url = https://github.com/mtl1979/muscle.git
	branch = unizone
	update = rebase

[submodule "regex"]
	path = regex
	url = https://github.com/mtl1979/regex.git
	branch = unizone
	update = rebase

[submodule "zlib"]
	path = zlib
	url = https://github.com/mtl1979/zlib.git
	branch = unizone
	update = rebase
