*.aps
*.bak
*.dll
*.exe
*.opensdf
*.pdb
*.qm
*.sdf
*.sln
*.VC.db
*.VC.opendb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*_pch.h.cpp
.vs
Makefile
Makefile.debug
Makefile.release
ipch
ui_*.h
/*/debug
/*/release
/plugins
