//Microsoft Developer Studio generated resource script.
//
#include <windows.h>
#include "resource.h"

#ifdef GCC_WINDRES
VS_VERSION_INFO		VERSIONINFO
#else
VS_VERSION_INFO		VERSIONINFO	MOVEABLE IMPURE LOADONCALL DISCARDABLE
#endif
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS		1
#else
  FILEFLAGS		0
#endif
  FILEOS VOS_NT_WINDOWS32
  FILETYPE VFT_APP
  FILESUBTYPE VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040b04b0"
    BEGIN
      VALUE "FileDescription", "Image Splitter\0"
      VALUE "FileVersion", "1, 0, 0, 1\0"
      VALUE "CompanyName", "Suomen Raasuyhteisö\0"
      VALUE "InternalName", "Image Splitter\0"
      VALUE "ProductName", "Image Splitter\0"
      VALUE "ProductVersion", "1, 0, 0, 1\0"
      VALUE "Comments", "\0"
      VALUE "LegalCopyright", "Copyright © 2004-2007 Suomen Raasuyhteisö\0"
      VALUE "LegalTrademarks", "\0"
      VALUE "OriginalFilename", "Image Splitter.exe\0"
      VALUE "PrivateBuild", "\0"
      VALUE "SpecialBuild", "\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x40b, 1200
  END
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1               ICON    DISCARDABLE     "isplitter.ico"
/////////////////////////////////////////////////////////////////////////////

